---
import Layout from '../layouts/Layout.astro';
import Image  from '../components/Image.astro';
import laura from '../assets/laura_by_manzhana_d4cavc7-fullview.jpg';
import fig1 from '../assets/d37axn8-863dfde2-05e8-4a9e-b823-47fe98a4fabc.jpg';
import fig2 from '../assets/moleskin_danger_01_by_manzhana_d37axdt-fullview.jpg';

const gallery = [
	{
		image: laura,
	},
	{
		image: fig1,
	},
	{
		image: fig2,
	},
]

---

<Layout title="Dani art 🎨">
	<div class="grid grid-cols-2 md:grid-cols-4 gap-2 mt-5 p-4 justify-items-center">
		{gallery.map((item) => (
			<Image image={item.image} />
		))}
	</div>
</Layout>

